@font-face {
	font-family: "pulsar-original";
	src: url(/fonts/pulsar-original.otf);
}
@font-face {
	font-family: "Roboto";
	src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/Roboto-Regular.ttf");
  }
@font-face {
	font-family: "Aire Exterior";
	src: url(/fonts/AireExterior.ttf);
}