@import "reset";
@import "fonts";
@import "animations";
body {
	background: #141c24;
}
.wrap {
	display: flex;
	flex-direction: column;
}
.container {
	display: flex;
	max-width: 1220px;
	margin: 0 auto;
}
.header {
	display: flex;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	align-items: center;
	height: 123px;
	background: #141c24;
	z-index: 20;
}
.logo {
	display: flex;
	color: #57d6ff;
	width: 189px;
	font-size: 24px;
	font-family: pulsar-original;
	gap: 17px;
	align-items: flex-end; /* добавлено свойство */
	user-select: none;

	img {
		width: 33px;
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}
.menu {
	width: 1220px;
	margin: 0 0 0 106px;
	ol {
		display: flex;
		justify-content: space-between;

		li {
			color: #fff;
			font-size: 16px;
			font-family: Roboto;
			font-weight: 300;
			line-height: 180%;
			list-style-type: none;
			display: inline-block;

			&:after {
				background-color: #00c5ff;
				display: block;
				content: "";
				height: 1px;
				width: 0%;
				-webkit-transition: width 0.3s ease-in-out;
				-moz--transition: width 0.3s ease-in-out;
				transition: width 0.3s ease-in-out;
			}
			&:hover:after,
			&:focus:after {
				width: 100%;
			}
			&:first-letter {
				text-transform: uppercase;
			}
			&:hover {
				font-weight: 600;
				font-size: 15.64px;
				cursor: pointer;
			}
		}
	}
}
.content {
	margin: 123px 0 0 0;
}
.slogan-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 41px auto 0 auto;
	max-width: 1440px;
	height: 777px;
	border-radius: 15px;
	border: 0.5px solid #57d6ff;
	background: radial-gradient(96.01% 49.95% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%),
		url(/image/stalker.jpg) center, lightgray 50% / cover no-repeat;
	box-shadow: 0px 0px 29px 0px rgba(87, 214, 255, 0.8);
	background-size: cover;
	// .slogan__subtitle

	&__subtitle {
		color: #fff;
		font-size: 16px;
		font-family: Roboto;
		font-weight: 500;
		align-items: center;
	}

	// .slogan__title

	&__title {
		color: #fff;
		font-size: 48px;
		font-family: Aire Exterior;
	}

	// .slogan__btn-upgrage

	&__btn-upgrage {
		color: #000;
		font-size: 24px;
		font-family: Aire Exterior;
		text-transform: uppercase;
		padding: 18px 89px;
		margin: 97px 0 0 0;
		background: none;
		background-image: url(/image/btn-upgrade.svg);
	}
	// .slogan-wrap__line
	&__line {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 41px;
	}
}

.how {
	// .how__info

	&__info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, auto) 0fr auto;
		grid-column-gap: 63.42px;
		grid-row-gap: 0px;
		margin: 80px 0 0 0;
	}
}
.server-host {
	grid-area: 1 / 1 / 6 / 2;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.info {
	// .info__subtitle-wrap

	&__subtitle-wrap {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
	}

	// .info__subtitle

	&__subtitle {
		margin: 0 0 0 34px;
		color: #57d6ff;
		font-size: 16px;
		font-family: Roboto;
		font-weight: 300;
		line-height: 180%;
	}

	// .info__title

	&__title {
		grid-area: 2 / 2 / 3 / 3;
		margin: 17px 0 0 0;
		color: #fff;
		font-size: 39px;
		font-family: Aire Exterior;
	}

	// .info__text-1

	&__text-1 {
		grid-area: 3 / 2 / 4 / 3;
		margin: 60px 0 0 0;
		color: #ababab;
		width: 450px;
		font-size: 21.33px;
		font-family: Roboto;
		font-weight: 300;
		line-height: 150%;
	}

	// .info__text-2

	&__text-2 {
		grid-area: 5 / 2 / 6 / 3;
		margin: 22px 0 0 0;
		color: #ababab;
		width: 480px;
		height: 128px;
		font-size: 21.33px;
		font-family: Roboto;
		font-weight: 300;
		line-height: 150%;
	}

	// .info__download

	&__btn-download {
		display: flex;
		grid-area: 6 / 2 / 7 / 3;
		margin: 74px 0 0 0;
		width: 76px;
		color: #00c5ff;
		background: none;
		font-size: 16px;
		font-family: Roboto;
		font-weight: 500;
		text-decoration: underline;
		text-underline-offset: 8px;
		text-decoration-color: #00c5ff;
	}
}
.line-how {
	grid-area: 4 / 2 / 5 / 3;
	margin: 20px 0 0 0;
}

.rates {
	margin: 81px 0 0 0;
}
.subscriptions {
	// .subscriptions__subtitle-wrap

	&__subtitle-wrap {
		display: flex;
		justify-content: center;
	}

	// .subscriptions__subtitle

	&__subtitle {
		color: #57d6ff;
		font-size: 16px;
		font-family: Roboto;
		font-weight: 300;
		line-height: 180%;
		margin: 0 0 0 34px;
	}

	// .subscriptions__tite

	&__tite {
		display: flex;
		justify-content: center;
		margin: 15px 0 0 0;
		color: #fff;
		font-size: 39px;
		font-family: Aire Exterior;
	}

	// .subscriptions__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		margin: 80px 0 0 0;
	}

	// .subscriptions__item

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 400px;
		height: 543px;
		border-radius: 5px;
		background: #1f2631;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
	}
}
.item {
	// .item__center
	&__center {
		background: #00c5ff;
		& .item__btn-select {
			color: #f1f8ff;
			background: #141c24;
		}
		& .item__title,
		& .item__price,
		& .item__inclusive {
			color: #141c24;
		}
	}
	// .item__inner
	&__inner {
		margin: 76px 42px 47px 47px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .item__title

	&__title {
		color: #fff;
		font-size: 36px;
		font-family: Roboto;
		font-weight: 700;
		width: 306px;
	}

	// .item__price

	&__price {
		color: #fff;
		font-size: 24px;
		font-family: Roboto;
		font-weight: 500;
		margin: 15px 0 0 0;
	}

	// .item__inclusive

	&__inclusive {
		display: flex;
		flex: 1 1 auto;
		height: 100%;
		color: #ababab;
		font-size: 21.33px;
		font-family: Roboto;
		font-weight: 300;
		line-height: 150%;
		margin: 21.21px 0 0 0;
		li {
			list-style-type: none;
		}
	}

	// .item__btn-select

	&__btn-select {
		color: #141c24;
		background: #00c5ff;
		font-size: 24px;
		font-family: Aire Exterior;
		line-height: 180%;
		width: 321px;
		border-radius: 5px;
		padding: 14.4px 0 10px 0;
	}
}
.circle {
	&-1 {
		position: absolute;
		top: 1014px;
		right: 0;
		z-index: -1;
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	&-2 {
		position: absolute;
		top: 1940px;
		z-index: -1;
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	&-3 {
		position: absolute;
		top: -180px;
		left: -90px;
		z-index: -1;
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}
.logo-m {
	display: none;
}
.burger {
	cursor: pointer;
	display: none;
	position: relative;
	border: none;
	background: transparent;
	width: 55px;
	height: 18px;
	margin: 30px auto;
	bottom: 0px;
	right: 15px;
	z-index: 20;
}
.burger::before,
.burger::after {
	content: "";
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	background: #fff;
	right: 15px;
}
.burger::before {
	top: 0;
	transition: top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
	bottom: 0;
	transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger.active {
	right: 37px;
}
.burger.active::before {
	top: 3px;
	bottom: 3px;
	transform: rotate(45deg);
	transition: top 0.3s, transform 0.3s 0.15s;
}
.burger.active::after {
	bottom: 11px;
	transform: rotate(-45deg);
	transition: bottom 0.3s, transform 0.3s 0.15s;
}
.modal-menu-m {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #141c24;

	animation: showBlock 0.1s;
	z-index: 10;
	ol {
		li {
			text-align: center;
			list-style-type: none;
			color: #fff;
			font-size: 16px;
			font-family: Roboto;
			line-height: 180%;
			margin: 30px 0 0 0;
			&:first-letter {
				text-transform: uppercase;
			}
			&:first-child {
				margin: 0;
			}
			&:after {
				background-color: #00c5ff;
				display: block;
				content: "";
				height: 1px;
				width: 0%;
				-webkit-transition: width 0.3s ease-in-out;
				-moz--transition: width 0.3s ease-in-out;
				transition: width 0.3s ease-in-out;
			}
			&:hover:after,
			&:focus:after {
				width: 100%;
			}
			&:first-letter {
				text-transform: uppercase;
			}
			&:hover {
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
	& .messengers {
		display: flex;
		justify-content: space-between;
		margin: 43px auto 23.82px auto;
		width: 172px;
	}
}

@import "adaptive";
